/*

 */
h4{
    margin-top:10px;
    font-weight: bold;
    margin-bottom: 20px;
}


#error_date_before{
    color:#a94442;
}


label.error{
    padding:0px;
}


.alert-danger{
    height:auto;
    margin-top:5px;
}

.alert{
    padding:5px;
    margin-bottom: 0px;
}
#fct_brg_dip{
    display:none;
}

select.tel_ens_form{
    padding-right:0px;
    width:80px;
}

#error_form_send_ens{
    height:70px;
    position: absolute;
    z-index: 20;
    display:none;
}
#id_fct{
    padding-left: 2px;
}

/*button{
    margin-right:-25px;
}*/
